@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
// font-family: 'Prosto One', cursive;
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
// font-family: 'Inter', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
// font-family: 'Roboto', sans-serif;

$black: #191919;
$backround: #1B1B1B;
$grey: #D9D9D9;
$whitetext: #FFFFFF;
$greytext: #E3E3E3;
$blacktext: #121212;
$yellow: #FEB703;

$mainwidth: 1200px;


/*
.text {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: $whitetext;
    font-weight: 400;

}

*/